body {
  background-color: rgb(109, 133, 156);
  height: 100vh;
}

h1 {
  text-align: center;
  margin: 0.2rem;
}

p {
  font-size: 1.1rem;
}
/*StartScreen Style*/
.flexcont {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;

  padding-top: 6rem;
}

#gamelogo {
  width: 80%;
}

#deloreanlogo {
  width: 60%;
}

.button {
  font-family: "VT323", monospace;
  font-size: 1rem;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  color: rgb(254, 215, 40);
}

#offset {
  animation: letter-flicker 2s linear infinite;
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  2% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  8% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  9% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  12% {
    opacity: 0.1;
    text-shadow: 0px 0px rgba(242, 22, 22, 1);
  }
  20% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  25% {
    opacity: 0.3;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  30% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  70% {
    opacity: 0.7;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  72% {
    opacity: 0.2;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  77% {
    opacity: 0.9;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  100% {
    opacity: 0.9;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
  }
  2% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
  }
  4% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
  }

  8% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
  }
  70% {
    opacity: 0.7;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
  }
  100% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
  }
}

@keyframes letter-flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  2% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  4% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  19% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  21% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  23% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  80% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  83% {
    opacity: 0.4;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  87% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
}

.button:hover {
  transform: scale(1.2);
}
/*GameScreen Style*/
.gamepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: sans-serif;
}

.statsboard {
  background-color: rgb(244, 147, 102);
  border: 6px solid rgb(32, 82, 149);
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.3rem;
  padding: 0.6rem;
}

.stopwatch-time {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.6rem;
}

.stopwatch-button {
  border: none;
  border-radius: 1.2rem;
  cursor: pointer;
  color: #fff;
  background-color: rgb(255, 23, 23);
  font-size: 1.4rem;
  padding: 0.6rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.stopwatch-button:hover {
  transform: scale(1.2);
}

.datatable {
  width: 90%;
  border: 6px solid rgb(32, 82, 149);
  border-radius: 2rem;
  margin: 0.3rem;
  max-width: 500px;
}

.stockmarket {
  background-color: rgb(249, 230, 159);
  border: 6px solid rgb(32, 82, 149);
  border-radius: 2rem;
  padding: 0.6rem;
  margin: 0.3rem;
}

.stockbtn {
  padding: 0.5rem;
  margin: 0.3rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.6rem;
  background-color: rgb(248, 172, 96);
}
.inputbox {
  font-size: 1rem;
  width: 10rem;
}

.upgrades {
  background-color: rgb(249, 230, 159);
  border: 6px solid rgb(32, 82, 149);
  border-radius: 2rem;
  padding: 0.6rem;
  margin: 0.3rem;
}

.listparent {
  padding-left: 0.6rem;
}

.listitems {
  border: solid black 0.1rem;
  border-radius: 0.8rem;
  padding: 0.3rem;
  margin: 0.3rem;
}

.itemheader {
  font-size: 1.2rem;
  font-weight: 600;
}

.owninfo {
  font-size: 0.9rem;
}

.itembutton {
  padding: 0.3rem;
  margin: 0.3rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.6rem;
  background-color: rgb(248, 172, 96);
}

/* Intro Page Style */
.introScene {
  font-family: "VT323", monospace;
  display: flex;
  flex-direction: column;
}

.introScene p {
  font-size: 1.3rem;
}

.introScene .button {
  position: fixed;
  bottom: 8rem;
  left: 30%;
}

.barbckgrnd {
  width: 100%;
}

.endgame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.endgame p {
  font-family: "VT323", monospace;
  font-size: 2rem;
  margin: 1rem;
}

@media only screen and (min-width: 768px) {
  .gamepage {
    flex-direction: row;
    justify-content: space-evenly;
  }
  #gamelogo {
    max-width: 600px;
  }
  #deloreanlogo {
    max-width: 300px;
    margin-bottom: 3rem;
  }
  .barbckgrnd {
    max-width: 800px;
  }
  .introScene {
    align-items: center;
  }
  .textbox {
    max-width: 700px;
  }
}
